header {
  /* Set a specific height */
  height: 60vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h2 {
    text-align: center;
    margin: -40px 0 50px 0;
    font-size: 20px;
  }
}
