.box-prev {
  img {
    width: 280px;
  }
}

.hoz-prev {
  display: grid;
  grid-template-columns: 180px auto 300px;
  img {
    width: 150px;
  }
  h3 {
    margin: 0;
    line-height: 112px;
    font-size: 22px;
  }
  p {
    line-height: 112px;
    margin: 0;
  }
  em {
    color: grey;
    font-size: 17px;
  }
}

.vert-prev {
  img {
    width: 280px;
  }
}

.prev {
  text-decoration: none;
  color: #261c15;
}
