#article {
  margin-top: 40px;
  width: 100%;
  img {
    display: block;
    width: 700px;
    height: 400px;
    margin: 50px auto;
  }

  h1 {
    text-align: center;
    margin: 70px auto 0 auto;
    width: 65%;
    min-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 0px;
  }

  .author {
    margin: auto;
    width: 60%;
    min-width: 700px;
    color: grey;
    font-size: 16px;
  }

  .article-body {
    margin: auto;
    width: 60%;
    min-width: 700px;
  }
  p {
    font-size: 18px;
  }
}
